statemachine/my-custom-cv-sm.asl.json
{
    "StartAt": "Check Queue",
    "States": {
        "Check Queue": {
            "Type": "Task",
            "Resource": "${SQSPollerFunctionArn}",
            "ResultPath": "$.messageinqueue",
            "Next": "Choice State"
        },
        "Choice State": {
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.messageinqueue",
              "StringEquals": "incoming",
              "Next": "Start Model"
            }           
          ],
          "Default": "Disable SQS Trigger"
        },
        "Start Model": {
            "Type": "Task",
            "Resource": "${StartModelFunctionArn}",
            "ResultPath": "$.runningstatus",
            "Next": "Start States"
        },
        "Start States": {
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.runningstatus",
              "StringEquals": "RUNNING",
              "Next": "Enable SQS Trigger"
            }
          ],
          "Default": "Wait for Model to start"
        },      
        "Wait for Model to start": {
            "Type": "Wait",
            "Seconds": 600,
            "Next": "Enable SQS Trigger"
        },
        "Enable SQS Trigger": {
            "Type": "Task",
            "Resource": "${ToggleTriggerFunctionArn}",
            "Next": "Check Queue"
        },
        "Disable SQS Trigger": {
            "Type": "Task",
            "Resource": "${ToggleTriggerFunctionArn}",
            "Next": "Stop Model"
        },
      "Stop Model": {
            "Type": "Task",
            "Resource": "${StopModelFunctionArn}",
            "End": true
      }
    }
}